body {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    margin-left: 10%;
    margin-right: 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav_logo {
    position: relative;
    width: 400px;
    height: 100px;
}

.part-1 {
    position: absolute;
    top: 10px;

}

.part-2 {
    position: absolute;
    top: 5px;
    left: 15px;
}

.part-3 {
    position: absolute;
    top: 15px;
    z-index: 2;
}

.part-4 {
    position: absolute;
    top: 20px;
    left: 6px;
}

.part-5 {
    position: absolute;
    top: 30px;
    left: 23px;
    z-index: 1;
}

.part-6 {
    position: absolute;
    top: 42px;
    left: 16px;
}

.part-7 {
    position: absolute;
    top: 40px;
    left: 7px;
    z-index: 1;
}

.part-8 {
    position: absolute;
    top: 42px;
    left: 16px;
}

.part-9 {
    position: absolute;
    top: 22px;
    left: 16px;
}

.part-10 {
    position: absolute;
    top: 25px;
    left: 50px;
}

.part-11 {
    position: absolute;
    top: 55px;
    left: 50px;
}

.part-12 {
    position: absolute;
    top: 16px;
    left: 93px;
}

.nav_menu {
    margin-top: 10px;
    display: flex;
}

li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

a {
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: #000; 
}

.active {
    font-weight: 500;
}

input {
    font-size: 17px;
    font-weight: 700;
    background-image: linear-gradient(to right, #6A11CB , #2575FC);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: none;
    color: #fff;
}

.lang {
    position: relative;
    width: 60px;
    height: 50px;
}

.lang_icon {
    position: absolute;
}

.lang_icon:first-child { 
    top: 13px;
    left: 10px;
}

.lang_icon:nth-child(2) {
    top: 13px;
    left: 16px;
}

.lang_icon:nth-child(3) {
    top: 23px;
    left: 10px;
}

.lang_icon:nth-child(4) {
    left: 40px;
    top: -5px;
}

.lang_icon:nth-child(5) {
    top: 22px;
    left: 70px;
}

.introduce {
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-img {
    width: 600px;
}

h1 {
    font-size: 45px;
}

.gradient-text {
    background: linear-gradient(to right, #6A11CB , #2575FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.bold-text {
    font-weight: bold;
}

section {

}

.about-us {
    background-color: #F8F8F8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.about-us_heading {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.about-us_img {
    width: 770px;
}

.solutions {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
